<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="smartgrid.simcontrol.extensionpoints.powerLoadSimulation">
      <powerLoadSimulation
            class="smartgrid.simcontrol.mocks.PowerLoadSimulationMock">
      </powerLoadSimulation>
   </extension>
   <extension
         point="smartgrid.simcontrol.extensionpoints.terminationCondition">
      <terminationCondition
            class="smartgrid.simcontrol.mocks.TerminationConditionMock">
      </terminationCondition>
   </extension>
   <extension
         point="smartgrid.simcontrol.extensionpoints.timeProgressor">
      <timeProgressor
            class="smartgrid.simcontrol.mocks.TimeProgressorMock">
      </timeProgressor>
   </extension>

</plugin>
