<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="smartgrid.model.topo.sirius.Activator"
               id="smartgrid.model.topo.sirius"
	       name="topo">
    </component>
  </extension>
</plugin>
