<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="smartgrid.simcontrol.extensionpoints.attackerSimulation">
      <AttackerSimulation
            class="smartgrid.simcontrol.attackersimulation.LocalHacker">
      </AttackerSimulation>
      <AttackerSimulation
            class="smartgrid.simcontrol.attackersimulation.ViralHacker">
      </AttackerSimulation>
   </extension>

</plugin>
