<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="smartgridsecurity.graphiti.extension.toolbaraction">
      <toolbarButton
            class="smartgrid.model.output.contributor.OutputActionContributor">
      </toolbarButton>
   </extension>
   <extension
         point="smartgridsecurity.graphiti.extension.deletefeature">
      <deleteFeature
            deleteFeature="smartgrid.model.output.features.OutputDeleteFeatureResolver">
      </deleteFeature>
   </extension>

</plugin>
