<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="smartgrid.simcontrol.test.extensionpoints.attackerSimulation">
      <AttackerSimulation
            class="smartgrid.attackersimulation.LocalHacker">
      </AttackerSimulation>
      <AttackerSimulation
            class="smartgrid.attackersimulation.ViralHacker">
      </AttackerSimulation>
   </extension>

</plugin>
