<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="smartgrid.simcontrol.SimcontrolLaunchConfigurationType">
<stringAttribute key="ControlCenterCount" value="21"/>
<stringAttribute key="GenStyle" value="BIG_CLUSTERS"/>
<stringAttribute key="SmartmeterCount" value="42"/>
<stringAttribute key="attackerSimulationConfiguration" value="Viral Hacker"/>
<stringAttribute key="desiredHackingStyle" value="FULLY_MESHED_HACKING"/>
<stringAttribute key="genInput" value="false"/>
<stringAttribute key="hackingSpeed" value="1"/>
<stringAttribute key="impactAnalysisConfiguration" value="Graph Analyzer Impact Analysis"/>
<stringAttribute key="inputPath" value="C:\Users\Misha\Desktop\SmartGrid\smartgrid.model.examples\example7\example7.smartgridinput"/>
<stringAttribute key="kritisSimulationConfiguration" value="Kritis Simulation Mock"/>
<stringAttribute key="logicalCon" value="true"/>
<stringAttribute key="outputPath" value="C:\Users\Misha\Desktop\SmartGrid\smartgrid.model.examples\example7\"/>
<stringAttribute key="powerLoadConfiguration" value="Powerload Simulation Mock"/>
<stringAttribute key="rootNodeID" value="1303261153"/>
<stringAttribute key="terminationConditionConfiguration" value="Termination Condition Mock"/>
<stringAttribute key="timeProgressorConfiguration" value="Time Progessor Mock"/>
<stringAttribute key="timeSteps" value="5"/>
<stringAttribute key="topologyPath" value="C:\Users\Misha\Desktop\SmartGrid\smartgrid.model.examples\example7\example7.smartgridtopo"/>
</launchConfiguration>
