<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smartgridoutput -->
      <package
            uri="http://sdq.ipd.uka.de/smartgridoutput/1.0"
            class="smartgridoutput.SmartgridoutputPackage"
            genModel="model/smartgridoutput.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smartgridoutput -->
      <package
            uri="http://sdq.ipd.uka.de/smartgridinput/1.0"
            class="smartgridinput.SmartgridinputPackage"
            genModel="model/smartgridoutput.genmodel"/>
   </extension>

</plugin>
