<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="smartgrid.newsimcontrol.rmi.server.SimcontrolLaunchConfigurationDelegate"
            delegateDescription="Delegate to start the Simcontroller"
            delegateName="SimcontrolDelegate"
            id="smartgrid.newsimcontrol.SimcontrolLaunchConfigurationType"
            modes="run,debug"
            name="SimControl">
            delegate= "org.eclipse.jdt.internal.launching.JavaLocalApplicationLaunchConfigurationDelegate" 
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="smartgrid.newsimcontrol.rmi.Startup">
      </startup>
   </extension>
</plugin>
